:root {
    --bg-color: #050505;
    --card-bg: #121212;
    --text-main: #ffffff;
    --text-muted: #a0a0a0;
    --primary: #00f2ea;
    --secondary: #0070f3;
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
    --glass: rgba(255, 255, 255, 0.05);
    
}